from pathlib import Path

BASE_PATH = Path(__file__).parent
ANALYTICS_FILE = BASE_PATH / "static" / "tweets.json"

# Twitter Creds
TWITTER_APP_API_KEY = "TWITTER_APP_API_KEY"
TWITTER_APP_API_SECRET = "TWITTER_APP_API_SECRET"

TWITTER_USER_ACCESS_TOKEN = "TWITTER_USER_ACCESS_TOKEN"
TWITTER_USER_SECRET = "TWITTER_USER_SECRET"
